*{
    box-sizing: border-box;
    font-family: 'Fira Sans', sans-serif;
}
body{
    margin: 0;
}
h1{
    font-size: 2.5rem;
    text-align: center;
}
h2{
    text-align: center;
}
a{
    font-size: 1.2rem;
    text-decoration: none;
    color: rgb(2, 81, 108);
}
 .dotted-hr{
    border: dotted 6px ;
    color: rgb(250, 254, 255);
    border-bottom: none;
    width: 60px;

 }
[class*="col-"]
{
    float: left;
    padding: 10px;
}

/*for mobile */
[class*="col-"]{
    width: 100%;
}

    /* navbar designs starts here */

.navbar{
    background-color: rgb(132, 209, 242);
    text-align: center;
    padding: 1% 7%;
}

.navbar h1{
        margin: 0;
        color: rgb(4, 67, 67);
}
.navbar-menu a{
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
    color:rgb(1, 26, 31) ;
    background-color:  rgb(0, 116, 165);
    border-radius: 10px;
    margin: 7px;
    padding: 10px;
}
.navbar-menu a:hover{
    background-color: rgb(61, 156, 194);
}
 p{
    font-size: 1.5rem;
 }
 .navbar::after{
    content: '';
    display: table;
    clear: both; 

}
    /* navbar ends here */


    
    /* profile design starts here */

        .profile{
            padding: 130px 50px;
            position: relative;
            text-align: center;
            background-color: rgb(205, 232, 254);
        }

    .top-weather-icon{
        position: absolute;
        height: 100px;
        width: 100px;
        right: 20px;
        top: 10px;
        transition: transform 2s;
    }

    .top-weather-icon:hover{
        transform: rotate(360deg);
    }

    .bottom-weather-icon{
        position: absolute;
        height: 100px;
        width: 100px;
        left: 20px;
        transition: transform 2s;
    }

    .bottom-weather-icon:hover{
        transform: rotate(360deg);
    }

    .portfolio-desc h1{
        font-family: 'Satisfy', 'cursive';
     
    }
    .portfolio-desc p{
        color: rgb(4, 48, 87);
        text-align: center;
        width: 90%;
        margin: 0 auto 20px auto;
    
    }
    .profile::after{
        content: '';
        display: table;
        clear: both; 
    
    }

    /* profile design ends here */



    /* about-me starts here */
    
       .AboutMe{
        
        text-align: center;
        padding: 1% 7%;
        background-color: rgb(151, 228, 253);
    color:rgb(1, 62, 74) ;
       
       } 



       .AboutMe::after{
        clear: both;
        display: table;
        content: "";
        }

        .aboutme-image img{
            border: 5px solid white;
            border-radius: 50%;
            height: 220px;
            width: 200px;
        }
        .aboutme-hr{
            color: rgb(1, 62, 74);
        }

        .cv-button{
            background-color: teal;
            border: none;
            border-radius: 15px;
            padding: 10px;
            color: white;
            cursor: pointer;
        }
    /* about-me ends here */

    /* professional experience starts here */

                .edu-exp{

                    background-color: aquamarine;
                    height: 700px;
            
                    font-size: 1.2rem;
                    padding: 10px;
                    margin: 5px;
                    
                
                }
            .icon-image {
                text-align: center;
                border: 2px red;
            }
            .icon-image img{

                margin-top: 20px;
                
              
            }

            .rounded-img{
                border: 5px solid white ;
                padding : 5px;
                border-radius: 50%;

            }
            .title{
                background-color: cadetblue;
            }


            .professional-exp {
                align-items: center;
                margin-left: 15px;
                margin-right: 20px;
                margin-top: 10px;
                transition: 2s;
                border-radius: 6px;
            }

            .edu-exp:hover{
                box-shadow: 0 4px 8px 0 black;
                transition: 1s;
                border-radius: 15px;
               
            }

        .desc li{
            
            margin: 20px 10px;
        }
        .skills li{
            position: relative;
            list-style: none;
        }
        .skills li::before{
            content: '';
            position: absolute;
            width: 100%;
            height: 10px;
            top: calc(100% + 5px);
            background-color: rgb(131, 1, 253);
            border-radius: 5px;
            left: 0;

        }
        .skills li::after{
            content: '';
            position: absolute;
            width: 0 ;
            height: 10px;
            top: calc(100% + 5px);
            background-color: rgb(62, 1, 119);
            border-radius: 5px;
            left: 0;
            animation-duration: 3s;
            animation-delay: 2s;
            animation-timing-function: linear;
            animation-fill-mode:forwards;
            animation-iteration-count: infinite;

        }
        
        .skills li.html::after{
            animation-name: html;
        }
        @keyframes html{
        to {
            width: 90%;
        }
    }
         
    .skills li.css::after{
        animation-name: css;
    }
    @keyframes css{
    to {
        width: 80%;
    }
}
     
.skills li.bootstrap::after{
    animation-name: bootstrap;
}
@keyframes bootstrap{
to {
    width: 90%;
}
}
     
.skills li.javascript::after{
    animation-name: javascript;
}
@keyframes javascript{
to {
    width: 70%;
}
}

     
.skills li.jquery::after{
    animation-name: jquery;
}
@keyframes jquery{
to {
    width: 50%;
}
}

     
.skills li.nodejs::after{
    animation-name: nodejs;
}
@keyframes nodejs{
to {
    width: 70%;
}
}
     
.skills li.express::after{
    animation-name: express;
}
@keyframes express{
to {
    width: 60%;
}
}
.skills li.github::after{
    animation-name: github;
}
@keyframes github{
to {
    width: 85%;
}
}
.skills li.react::after{
    animation-name: react;
}
@keyframes react{
to {
    width: 90%;
}
}

.professional-exp::after{
    clear: both;
    content: '';
    display: table;
}
    /* professional experience ends here */

    /* contact starts here */

.contact{

    background-color: rgb(3, 150, 150);
    padding: 1% 7%;
    margin-top: 15px;
    text-align: center;
}

.contact input,textarea{
    width: 100%;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    border: none;
    resize: none;
}
.contact button{
    background-color: rgb(158, 241, 241);
    padding: 10px;
    width: 100px;
    margin-top: 10px;
    margin-left: 10px;
    cursor: pointer;
    border: none;
    border-radius: 20px;
}
.moreway{
    
    background-color: rgb(3, 150, 150);
    padding: 1% 7%;
    text-align: center;


}
.btn{
    border: none;
    border-radius: 25px;
    font-size: 32px;
    margin: 5px;
    padding: 5px;
    width: 50px;

}
.btn:hover{
    background-color: grey;
}

    /* contact ends here */

    /* footer starts from here */

    .footer{
        text-align: center;
       
    }


    .footer a{
        display: block;
        color: black;


    }
    .footer-desc{
        display: block;
        color: black;
    }


    .footer a:hover{
        color: grey;
    }
    /* footerends here */